<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body ng-app="dragNdrop" >
        <div id="inputPallete">
            <!--            <input draggable="true" id="number" type = "button"      value="number"  readonly="true">-->
            <span id="id1" draggable="true">text</span>
            <span id="id2" draggable="true">button</span>
            <span id="id3" draggable= "true">label</span>

        </div>
        <div id="dropDiv" ng-controller="directiveController" >
            <button ng-click="save()"> save</button>
            <button ng-click="load()"> load</button>
            <button ng-click="reset()">reset</button>
            <button ng-click="undo()">undo</button>
            <button ng-click="build()">build</button>
            <div drop-area attr="id1" ondragover="dragOver(event)" style="height:280px" >
<!--                <div ng-include="'templateid1.html'"></div>-->
<!--
                <div ng-repeat = "element in jsonFileInput">
                    <div drop-element type="$index"></div>
                </div>
-->
            </div>
<!--
            <table border="1" >
                <tr ng-repeat = "(key,value) in property">
                    <td> {{key}}</td><td ng-click="changeFunc(key)" ng-hide="flag">{{value}}</td>
                    <td ng-show="flag"><input type="text"  value="{{value}}"></td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td ng-click = "changeFunc()" ng-hide= "flag"> {{property.Id}}</td> 
                    <td ng-show="flag"><input type="text"  ng-model="property.Id"></td>
                </tr>
                <tr> 
                    <td>Type</td> 
                    <td ng-click = "changeFunc()" ng-hide= "flag"> {{property.Type}}</td> 
                    <td ng-show = "flag"> 
                        <select ng-model = "property.Type">
                            <option>text</option>
                            <option>number</option>
                            <option>button</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> Value </td>
                    <td ng-click = "changeFunc() " ng-hide = "flag">{{property.Value}} </td>
                    <td ng-show="flag"><input type="text"  ng-model="property.Value"></td>
                </tr>
                <input ng-show="flag" type="button" ng-click="saveProp()" value= "save">
            </table>
-->
        </div>
        <p id="cor">hai</p>
        <script src="../js/script.js"></script>
        <script src="../../node_modules/angular/angular.min.js"></script>
        <script src="../js/directives/design_area_display.directive.js"></script>
        <script src="../js/controllers/directive.controller.js"></script>
    </body>
</html>