body {
    background-color: antiquewhite;
}
p {
    background-color: aqua;
    position:absolute;
    border:2px solid red;
    height:100px;
    width:300px;
    top:300px
}
#inputPallete {
    position:absolute;
    border:2px solid red;
    height:100px;
    width:300px;
    padding: 10px;

}
#draggableDiv {
    position:absolute;
    border:2px solid red;
    height:100px;
    width:300px;
    top:120px
}
#dropDiv {
    position:absolute;
    border:2px solid red;
    height:300px;
    width:500px;
    top:105px;
    left:500px
}
input[type = "button"]{
    width:50px;
    height: 20px;
    font-size: 10px;
    z-index: 2;
}
span{
    width:50px;
    height: 20px;
    border : 2px solid #2b087b;
    border-radius: 5px;
}